body{
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 100wh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container .img{
    height: 300px;
    width: 300px;
}
.img img{
    height: 100%;
    width: 100%;
    object-fit: fill;
}
.container .btn{
    width: auto;
}
.btn button{
    padding: 10px;
    border-radius: 7px;
    border: none;
}
.btn button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
    transition: 0.5s ease;
    transform: scale(1.1,1.1);
}