body {
    font-family: 'Segoe UI', sans-serif;
    background: #f5f6fa;
}

.sidebar {
    height: 100vh;
    width: 250px;
    background: #1e1e2d;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar .brand {
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    padding: 20px 20px 8px 20px;
    color: #0d6efd;
    text-align: center;
}

.profile {
    text-align: center;
    padding: 10px 0;
}

.profile img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    margin: auto;
}

.profile p {
    margin: 15px 0 0;
    font-weight: 500;
}

.nav-menu a {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    color: #cfcfe0;
    text-decoration: none;
    border-radius: 8px;
    margin: 5px 15px;
    transition: 0.3s;
}

.nav-menu a i {
    margin-right: 10px;
}

.nav-menu a.active,
.nav-menu a:hover {
    background: #0d6efd;
    color: #fff;
}

.sidebar .footer {
    font-size: 12px;
    text-align: center;
    padding: 15px;
    color: #aaa;
}

/* Content */
.content {
    margin-left: 250px;
    padding: 30px;
}

.welcome h5 {
    font-weight: 600;
    margin-bottom: 5px;
}

.welcome small {
    color: #666;
}

/* Card form */
.card {
    border-radius: 12px;
    border: none;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.form-label {
    font-weight: 500;
}

.form-control,
.form-select {
    border-radius: 10px;
    padding: 10px 15px;
    border: 1px solid #ddd;
}

.btn-primary {
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: 500;
    background: #0d6efd;
    border: none;
}

.btn-primary:hover {
    background: #0b5ed7;
}

.btn-secondary {
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: 500;
}
